/* MEDIA Y FONTS */

[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@font-face {
    font-family: "04b_30";
    src: url("../fonts/04B_30__.TTF")
}

/* INICIAL Y JUGADORES */

p, label {
    font-family: "04b_30";
    font-size: 200%;
    color: white;
    background-color: rgba(0, 0, 0, 0.724);
    align-self: center;
    display: flex;
    justify-content: center;
}

#boton {
    font-family: "04b_30";
    font-size: 220%;
    background:rgba(0, 0, 0, 0.724);
    color: white;
    transition: background-color ease-in 0.4s;
}

#boton1, #boton2 {
    font-family: "04b_30";
    font-size: 50%;
    background:rgba(157, 151, 151, 0.464) ;
    color: white;
    transition: background-color ease-in 0.4s;
}

#boton:hover{
    background:white ;
    color: rgb(14, 14, 14);
    border: 1px solid rgb(250, 246, 246);
}

body {
    background-image: url(../images/inicio.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.inicio {
    display: flex;
    align-items: center;
    width: auto;
    height: 500px;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.jugadores {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 800px;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-evenly;
}

/* VISTA TABLERO */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tablero{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    text-align: center;
}

.juego-titulo, .juego-info{
    text-align: center;
}

.cuadricula{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:0;
}

.cuadro{
    width:8rem;
    height: 8rem;
    border: 1px solid rgb(168, 168, 168);
    text-align: center;
    color:rgb(227, 233, 229);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: background-color ease-in 0.2s;
    font-family: "04b_30";
}

.boton3{
    padding: 1rem 1rem;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    transition:color ease-out 0.3s;
    font-family: "04b_30";
    font-size: 150%;
    background:rgba(0, 0, 0, 0.724);
    color: white;
    transition: background-color ease-in 0.4s;
}

.boton3:hover{
    background:white ;
    color: rgb(14, 14, 14);
    border: 1px solid rgb(250, 246, 246); 
}

.marcador{
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: "04b_30";
    border: 1px solid rgb(250, 246, 246); 
    font-size: 150%;
    background:rgba(0, 0, 0, 0.724);
    padding-left: 20px;
    padding-right: 20px;
}

.marcador div span{
    height: 2em;
    width: 4em;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: "04b_30";
    border: 1px solid rgb(250, 246, 246); 
}